body, html {
    background-color: #eac8ad;
    margin: 0;
    padding: 0 10vw;
}

h1 {
    font-family: "YesevaOne-Regular", serif;
    font-size: 48px;

    text-align: center;
    margin-top: 5vh;

    color: #f26c51;
}

p {
    font-family: "Proxima-Nova-Alt-Regular", sans-serif;
    font-size: 24px;
    line-height: 1.2;

    margin: 12px 0 0;
    padding: 0;

    text-align: center;

    color: #66462f;
}

a {
    position: fixed;
    top: 2vh;
    right: 2vh;

    font-family: "YesevaOne-Regular", serif;
    font-size: 24px;

    color: #66462f;
    opacity: 50%;

    text-decoration: none;

    transition: opacity 100ms ease;
}
a:hover, a:active {
    opacity: 100%;
}

@font-face {
    font-family: Proxima-Nova-Alt-Regular;
    src: url('/fonts/Proxima_Nova_Alt_Regular-webfont.ttf');
}

@font-face {
    font-family: YesevaOne-Regular;
    src: url('/fonts/YesevaOne-Regular.ttf');
}